{% extends "base.html" %}
{% load static %}

{% block title %}add {% endblock %}

{% block content %}

<h3 class="text-center">Add Student</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    The new student added successfully.
    <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
</div>
{% else %}

<div class="row justify-content-center">
    
    <div class="col-12 col-md-7">

        <div class="card bg-light mb-3" style="max-width: 60rem;">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> Student Registration
            </div>
            <div class="card-body">
                <form action="{% url 'add' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                <div class="row justify-content-between ms-1">
                    <button type="submit" class="col-5 btn btn-primary">Add</button>

                    <a href="{% url 'index' %}" class="me-2 col-5 btn btn-secondary">Cancel</a>
                </div>
            
                </form>
            </div>

        </div>
    </div>
</div>
</div>
{% endif %}

{% endblock %}