{% extends "base.html" %}
{% load static %}

{% block title %}student home{% endblock %}

{% block content %}

<div class="titlee m-4">chield all Student</div>
  <div class="row">
      <div class="col-12">
          {% if students %}
          <div class="card bg-light mx-4 mb-3">
              <div class="card-header">
                  <i class="fa-solid fa-list fa-lg"></i> Student Records
              </div>
              
              <div class="card-body">
                
                <p class="card-text">
                  <div class="table-responsive">

                      <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Student Number</th>
                              <th scope="col">First Name</th>
                              <th scope="col">Last Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Field of Study</th>
                              <th scope="col">GPA</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for student in students %}
                            <tr>
                              <td><a href="{% url 'edit' student.id %}">{{ student.student_number }}</a></td>
                              <td><a href="{% url 'edit' student.id %}">{{ student.first_name }}</a></td>
                              <td>{{ student.last_name }}</td>
                              <td>{{ student.email }}</td>
                              <td>{{ student.fiels_of_study }}</td>
                              <td>{{ student.cgpa }}</td>
                              
                              <td>
                                  <!-- detail button for show details  -->
                                  <button type="button" class="btn btn-success me-1" href="{% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{student.id}}">
                                    <i class="fa-solid fa-circle-info">details</i>
                                  </button>

                                  <!-- edit link for edit page  -->
                                  <a href="{% url 'edit' student.id %}" class="btn btn-primary me-1">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                  </a> 

                                  <a href="{% url 'delete' student.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                  <!-- smal card for showing perticular user details when click  -->
                                  <!-- Modal view student  -->
                                  <div class="modal" id="myModal{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">
                                            Student: {{ student.first_name }} {{ student.last_name}}
                                          </h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <ul class="list-unstyled">
                                            <li>Student Number: <strong>{{student.student_number}}</strong></li>
                                            <li>First Name: <strong>{{student.first_name}}</strong></li>
                                            <li>Last Name : <strong>{{student.last_name}}</strong></li>
                                            <li>Email : <strong>{{student.email}}</strong></li>
                                            <li>Field of study : <strong>{{student.fiels_of_study}}</strong></li>
                                            <li>GPA : <strong>{{student.cgpa}}</strong></li>
                                          </ul>
                                        </div>

                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div> 

                                  
                              </td>

                            </tr>
                             {% endfor %}
                          </tbody>
                        </table>

                  </div>
                </p>
              </div>
          </div>
          
          {% else %}
                <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
          {% endif %}
        
      </div>
  </div>


{% endblock %}